body
{font-family: 'Merriweather', serif;
}
h1{font-family: 'Montserrat', sans-serif;
}
h3{display:inline-block;
font-family: 'Montserrat', sans-serif;
}
h2{font-family: 'Montserrat', sans-serif;
padding-top:50px;
padding-bottom:30px;
}
.5
{text-decoration: none;
    padding: 20px 10px 20px 10px;
    background-color: #fff0f0;
}.v
{text-decoration: none;
    padding: 20px 10px 20px 10px;
    background-color: #fff0f0;
}
.vi
{text-decoration: none;
    padding: 20px 10px 20px 10px;
    background-color: #fff0f0;
}
.vii
{text-decoration: none;
    padding: 20px 10px 20px 10px;
    background-color: #fff0f0;
}
.viii
{text-decoration: none;
    padding: 20px 10px 20px 10px;
    background-color: #fff0f0;
}.ix
{text-decoration: none;
    padding: 20px 10px 20px 10px;
    background-color: #fff0f0;
}

.x
{text-decoration: none;
    padding: 20px 10px 20px 10px;
    background-color: #fff0f0;
}
.xi
{text-decoration: none;
    padding: 20px 10px 20px 10px;
    background-color: #fff0f0;
}
.xii
{text-decoration: none;
    padding: 20px 10px 20px 10px;
    background-color: #fff0f0;
}
.middle1{width:50%;
margin: 100px auto 100px auto;
text-align:left;
}
.student1{border-radius:50%;
float: left;
width:25%;
margin-right:30px;
}

.smiley
{width:20px;
height:20px;

}
.child{
	width:500px;
	height:500px;
}
.container1{
	display: inline-block;
    width: 500px;
	text-align:left;
	margin-left:20px;
}
.container2{
	display: inline-block;
	position:absolute;
	right:40px;
}
	.problem
	{width:300px;
	height:300px;
	padding-left:20px;
	padding-top:30px;
	padding-bottom:20px;
}
.middle-container{
	padding-top:100px;
	padding-bottom:100px;
}
.paragraph{
line-height:2;

}
p1{line-height:2;
}

.first-container{background-color:#E4F9F5;
width:100%;
height:100%;
padding-top:20px;
padding-right:10px;
padding-left:10px;
position :relative;
   }
   .student{ width:80px;
   height:80px;
   padding-right:10px;
   padding-bottom:20px;
   margin-left:20px;
   }
.question{ position:absolute;
 right:20px;}
  
 .join{ position:absolute;
 right:200px;}
  
  .login{ position:absolute;
 right: 340px;}
 
 .e{width:40px;
 height:40px;
  padding-bottom:20px;
 }
 
 .d{width:40px;
 height:40px;
  padding-bottom:20px;
 }
 
 .u{width:40px;
 height:40px;
  padding-bottom:20px;
 }
 
 .t{width:40px;
 height:40px;
  padding-bottom:20px;
 }
 
 .e1{width:40px;
 height:40px;
  padding-bottom:20px;
 }
 
 
 .c{width:40px;
 height:40px; padding-bottom:20px;
 }
 .h{width:40px;
 height:40px;
  padding-bottom:20px;
 }
 
 
.question {
  background: #2ea7f7;
  background-image: -webkit-linear-gradient(top, #2ea7f7, #1673ad);
  background-image: -moz-linear-gradient(top, #2ea7f7, #1673ad);
  background-image: -ms-linear-gradient(top, #2ea7f7, #1673ad);
  background-image: -o-linear-gradient(top, #2ea7f7, #1673ad);
  background-image: linear-gradient(to bottom, #2ea7f7, #1673ad);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.question:hover {
  background: #1d95e0;
  background-image: -webkit-linear-gradient(top, #1d95e0, #3bb1ff);
  background-image: -moz-linear-gradient(top, #1d95e0, #3bb1ff);
  background-image: -ms-linear-gradient(top, #1d95e0, #3bb1ff);
  background-image: -o-linear-gradient(top, #1d95e0, #3bb1ff);
  background-image: linear-gradient(to bottom, #1d95e0, #3bb1ff);
  text-decoration: none;
}
.join {
  background: #2ea7f7;
  background-image: -webkit-linear-gradient(top, #2ea7f7, #1673ad);
  background-image: -moz-linear-gradient(top, #2ea7f7, #1673ad);
  background-image: -ms-linear-gradient(top, #2ea7f7, #1673ad);
  background-image: -o-linear-gradient(top, #2ea7f7, #1673ad);
  background-image: linear-gradient(to bottom, #2ea7f7, #1673ad);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.join:hover {
  background: #1d95e0;
  background-image: -webkit-linear-gradient(top, #1d95e0, #3bb1ff);
  background-image: -moz-linear-gradient(top, #1d95e0, #3bb1ff);
  background-image: -ms-linear-gradient(top, #1d95e0, #3bb1ff);
  background-image: -o-linear-gradient(top, #1d95e0, #3bb1ff);
  background-image: linear-gradient(to bottom, #1d95e0, #3bb1ff);
  text-decoration: none;
}
.login {
  background: #2ea7f7;
  background-image: -webkit-linear-gradient(top, #2ea7f7, #1673ad);
  background-image: -moz-linear-gradient(top, #2ea7f7, #1673ad);
  background-image: -ms-linear-gradient(top, #2ea7f7, #1673ad);
  background-image: -o-linear-gradient(top, #2ea7f7, #1673ad);
  background-image: linear-gradient(to bottom, #2ea7f7, #1673ad);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.login:hover {
  background: #1d95e0;
  background-image: -webkit-linear-gradient(top, #1d95e0, #3bb1ff);
  background-image: -moz-linear-gradient(top, #1d95e0, #3bb1ff);
  background-image: -ms-linear-gradient(top, #1d95e0, #3bb1ff);
  background-image: -o-linear-gradient(top, #1d95e0, #3bb1ff);
  background-image: linear-gradient(to bottom, #1d95e0, #3bb1ff);
  text-decoration: none;
}
.btn { 
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.last-container{text-align :center;
padding:40px 0px 20px;
background-color:#66bfbf;
}
.copyright{padding-top:40px;
}